argcomplete==3.6.2
bitarray==3.3.1
bitstring==4.3.1
celluloid==0.2.0
cffi==1.17.1
cleo==2.1.0
contourpy==1.2.1
crashtest==0.4.1
cryptography==44.0.2
cycler==0.12.1
ecdsa==0.19.1
esptool==4.8.1
ffmpeg-python==0.2.0
fonttools==4.57.0
future==1.0.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_resources==6.5.2
imutils==0.5.4
intelhex==2.3.0
kiwisolver==1.4.7
matplotlib==3.8.4
mpremote==1.25.0
numpy==1.21.6
opencv-contrib-python==4.6.0.66
packaging==24.2
pillow==11.2.1
pycparser==2.22
pyparsing==3.2.3
pyserial==3.5
python-dateutil==2.9.0.post0
PyYAML==6.0.2
RapidFuzz==3.13.0
reedsolo==1.7.0
six==1.17.0
zipp==3.21.0
